
.menu-off{
  display: none;
  visibility: hidden;
}
.menu-on{
  visibility: visible;
}
.testArrow{
  text-decoration: none;
  color: blue;
  background-color: aquamarine;
  padding-left: 7px;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-right: 7px;
  font-weight:bold;
  text-align: center;
  vertical-align: middle;
}

.abc {
  writing-mode: tb-rl;
  font-weight: bold;
  font-size: 14px;
  line-height: 0;
  color: red;
  padding-left: 0px;
  background-color: chartreuse;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial;
}
.divetest{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.ttt{
  background-color: chartreuse;
}